@model IEnumerable<AutoVerhuurJansen.Models.Medewerkers>
@{
    ViewBag.Title = "Activiteit";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>



</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.voornaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tussenvoegsel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.achternaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actief)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tussenvoegsel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.achternaam)
            </td>

            @if (item.Actief == true)
            {
                <td>Actief</td>
            }
            else
            {
                <td>Inactief</td>
            }

            @if (item.Actief == true)
            {
                <td>@Html.ActionLink("Deactiveer", "Deactivate", new { id = item.medewerkerId })</td>
            }
            else
            {
                <td>@Html.ActionLink("Activeer", "Activate", new { id = item.medewerkerId })</td>
            }
        </tr>
        }

    </table>
</body>
</html>
