<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border: none; height: 70px;">
        <div class="container" style="margin-left: 40px; margin-right: 0px; height: 70px; padding-top: 10px; padding-bottom: 10px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Autoverhuur Jansen", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" style="width: 1400px;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="sidenav">
        <li id="firstLi">@Html.ActionLink("Home", "Index", "Home")</li>
        @if (User.IsInRole("Manager"))
    {
        <li>@Html.ActionLink("Rollen Beheer ", "Index", "Roles") </li>
        <li>@Html.ActionLink("Voertuigenlijst", "Index", "VoertuigenLijst")</li>
        <li>@Html.ActionLink("VerhuurLijst", "Index", "VerhuurLijjst")</li>
        <li>@Html.ActionLink("Categorien", "Index", "Categorien")</li>
        <li>@Html.ActionLink("Activiteit", "Index", "Activity")</li>
        <li>@Html.ActionLink("Medewerkers", "Index", "Medewerkers")</li>
        <li>@Html.ActionLink("Prijscategorieën", "Index", "PriceHistories") </li>
}

        @if (User.IsInRole("Applicatiebeheerder"))
    {
        <li>@Html.ActionLink("Rollen Beheer ", "Index", "Roles") </li>
        <li>@Html.ActionLink("Voertuigenlijst", "Index", "VoertuigenLijst")</li>
        <li>@Html.ActionLink("VerhuurLijst", "Index", "VerhuurLijjst")</li>
        <li>@Html.ActionLink("Categorien", "Index", "Categorien")</li>
        <li>@Html.ActionLink("Activiteit", "Index", "Activity")</li>
        <li>@Html.ActionLink("Medewerkers", "Index", "Medewerkers")</li>
        <li>@Html.ActionLink("Prijscategorieën", "Index", "PriceHistories") </li>
}

        @if (User.IsInRole("Medewerker"))
    {
        <li>@Html.ActionLink("VerhuurLijst", "Index", "VerhuurLijjst")</li>
        <li>@Html.ActionLink("Bereid Lijst", "Index", "ReadyList")</li>
        <li>@Html.ActionLink("Voertuigenlijst", "Index", "VoertuigenLijst")</li>
}

        @if (User.IsInRole("Klant"))
    {
        <li>@Html.ActionLink("Verander Gebruikerinfo", "ChangeKlantinfo", "Manage")</li>
        <li>@Html.ActionLink("Huur een auto", "Index", "VoertuigenHuur")</li>
}
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
