@model IEnumerable<AutoVerhuurJansen.Models.Voertuigen>
@{
    ViewBag.Title = "Index";
}
<!-- Inzien van beschikbare voertuigen om te huren-->
<h2>Huur aanmaken</h2>

<form asp-controller="VoertuigenHuur" asp-action="LoadVoertuigen">
    <p>
        Incheck Datum: <input autocomplete="off" type="datetime" name="startDate" class="date-picker form-control">
        Uitcheck Datum <input autocomplete="off" type="datetime" name="endDate" class="date-picker form-control" />
        <input class="btn btn-success" type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.merk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie.aantalPersonen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie.aantalKoffers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.merk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.aantalPersonen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categorie.aantalKoffers)
                </td>
                <td>
                    @Html.ActionLink("Reserveer", "Reserveer", new { id = item.kenteken, startDate = Request.Params["startDate"], endDate = Request.Params["endDate"] })
                    @*<button class="btn btn-info" onclick="location.href='@Url.Action("Reserveer", "Reserveer", new { id = item.lodgeID, startDate = Request.Params["startDate"], endDate = Request.Params["endDate"] })';return false;">Register</button>*@
                    @*<button class="btn btn-info">Info</button>*@
                </td>
            </tr>
        }
    </tbody>
</table>